* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.navbar-items-home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.filter-products {
  display: flex;
  background-color: antiquewhite;
  flex-wrap: wrap;
}
.filter-products-column {
  display: flex;
  flex-direction: column;
  width: 160px;
  background-color:lightblue;
  position: fixed;
  padding: 20px;

 
}

.all-products {
  margin:10px;margin-left: 200px;
  width: 300px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  height: auto;
}

hr {
  color: red;
}